{%extends "base.html"%}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row  p-5 mt-5">
        {%for image in images%}
        <!-- Empty div -->
        <div class="col-md-6">

            <img src=" {{image.image.url}}" class="img-fluid">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Eveline</h3>
                    <form class="form" action="" method="post" novalidate>
                        {% csrf_token %}
                        {{form|crispy }}
                        <div class="row pl-5">
                            <button type="submit" class="btn btn-sm btn-outline-primary"
                                style="margin-top:14px; margin-left:-10px"><b style="color: black;">Post</b></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            {%for comment in comments%}
            <p style="color: black;"><strong>{{comment.user_id.user}}</strong>  {{comment.comment}}</p>
            {%endfor%}
        </div>
        {%endfor%}
    </div>
</div>

{% endblock %}