{% extends 'base.html' %}
{% block content %}

<div class="container" style="font-family: 'Jost', sans-serif;">
    <div class="row">
        <div class="col-md-6 mx-auto">
            {% if results %}
            <h5 class="text-center">Found {{ results|length }} user{{ results|pluralize }}</h5>
            {% else %}
            <h5 class="text-center"> Found 0 user with username <strong>{{message}}</strong></h5>

            <a class="d-block mx-auto" href="/">
                <button class="btn btn-sm btn-info d-block mx-auto">Back Home</button>
            </a>
            {% endif %}
            <hr>
            {% if results %}
            {% for res in results %}
            <div class="container">
                <div class="row">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="{{res.user.profile.prof_pic.url}}" alt="oops cant display"
                                class="rounded-circle border ml-3 mt-2  mr-3" width="55" height="55">
                        </div>
                        <div class="col-md-8">
                            <span><strong><a href="">{{res.user.username}}</a></strong></span>
                            <div class="row">
                                <div class="col-sm">
                                    <p>Followers: 4</p>
                                </div>
                                <div class="col-sm">Following:3</div>
                            </div>
                            <div class="col-md-3 mt-3">
                               <a href="{% url 'follow-unfollow'res.pk %}"> <button class="btn btn-sm btn-outline-primary">follow</button></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <hr>

            {% endfor %}
            {% endif %}

        </div>
    </div>

</div>

{% endblock %}